@charset "utf-8";

.fortune {
    text-align: center;
    margin-top: 110px;
}

h1.title {
    font-size: 50px;
    color: gray;
    margin-bottom: 40px;
}

input#btn {
    border: 2px solid red;
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}

input#reload_button {
    border: 2px solid #318;
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    background: #318;
    margin-bottom: 40px;
}

.space {
    color: gray;
    font-size: 60px;
}


